<h1>{{title}}</h1>

<h2>{{binding}}</h2>
<h2 [textContent]='binding'></h2>

<img src="{{imageUrl}}">
<img [src]="imageUrl">

<table>
  <tr>
    <td [attr.colSpan]='colSpan'></td>
  </tr>
</table>

<button type="button" class="btn btn-primary" 
[style.backgrondColor]= "isActive?'blue':'white'">Style</button>

<button type="button" class="btn btn-default" (click)="onSave($event)">button</button>
<div (click)="onDivClick($event)">
  <button type="button" class="btn btn-danger" (click)="onSave($event)">button</button>
</div>
<br><br>
<!-- <input type="text" [(ngModel)]="nama" (keyup.enter)="onKey()"> -->
